@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(230, 218, 206, 0.397);
}

nav > ul {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-li {
    display: inline-block;
    padding: 23px;
    text-transform: uppercase;
    font-size: 0.9em;
}

nav > a {
    margin: 20px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
    font-weight: normal;
}

nav ul a:hover {
    color: rgb(51, 4, 223);
}

.strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgba(51, 28, 6, 1);
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    }

.box-design {
    background-color: rgb(230, 218, 206);
    padding: 150px 0px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box-perfil {
    background-color: rgba(244, 236, 230, 1);
    height: 450px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -170px;
    box-shadow: 1px 3px 5px rgba(230, 218, 206, 0.397);
}

.box-perfil > p {
    font-size: 1.2em;
}

.img-perfil {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    align-self: center;
    margin-top: 30px;
}

#nome {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

hr {
    width: 50px;
    margin: 0 auto;
    border-color: rgba(51, 28, 6, 1);
}

#funcao {
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgba(51, 28, 6, 1);
    text-align: center;
    padding: 0px 20px;
}


.rede-sociais {
    background-color: white;
    width: 100%;
    color: black;
}

.rede-sociais > ul {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 7.4px;
}

.rede-sociais > ul > li {
    text-align: center;
    padding-right: 20px;
    height: 30px;
    width: 30px;
}

#instagram {
    width: 30px;
    height: 30px;
}

#github {
    width: 30px;
    height: 30px;
}

#linkedin {
    width: 30px;
    height: 30px;
}


.resumo {
    margin-left: 200px;
    text-align: start;
    margin-right: 10px;
}

.resumo h1 {
    font-size: 5em;
    padding-bottom: 10px;
}

.resumo h2 {
    font-size: 1.4em;
    padding-bottom: 20px;
}

.curriculo-projetos > ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.curriculo-projetos > ul > a {
    border: 1px solid rgba(51, 28, 6, 1);
    background-color: rgb(244, 236, 230);
    color: rgba(51, 28, 6, 1);
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.83em;
}

.curriculo-projetos > ul > a:hover {
    color: white;
    background-color: rgb(51, 4, 223);
}

.texto-resumo > p {
    text-align: justify;
    max-width: 400px;
}

.tech-stack {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tech-stack img {
    width: 40px;
    margin-left: 5px;
}

#telefone, #email {
    font-weight: bold;
}

.titulo > h1 {
    background-color: rgb(230, 218, 206);
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    margin-top: 46px;
    margin-bottom: 50px;
    font-size: 1.8em;
    box-shadow: 1px 2px 5px rgba(112, 62, 12, 0.356);
}

.container-projetos {
    max-width: 70%;
    margin: 0 auto;
}

.box-projeto1, .box-projeto3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.box-projeto2, .box-projeto4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
}

#projeto1, #projeto2, #projeto3, #projeto4 {
    background-color: rgba(244, 236, 230, 1);
    display: flex;
    width: 500px;
    height: 300px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 2px 5px rgba(112, 62, 12, 0.356);
}